.App {
  display:flex;
  flex-direction: column;
  text-align: center;
}
.recents {

  display: flex;
  font-size: large;
  margin-right: 20px;
  flex-direction: row;
  justify-content: center;

}

.body2 {
  display: flex;
  flex-direction: row;
  
}
.body {
  flex:5;
  background-color: #878472;
  
}
.App-header {
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  background-color: #de541e;
  align-items: center;
  
}

.box {
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: #494331;
  color: #d6d6b1;
}
